
   body{
       margin:0;
      
       
   }
   div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height:100vh;
       width:100vw;
       background-color: aqua;

   }
   button{
       padding:10px;
       width:22%;
       background-color:chartreuse;
       border-radius: 20px;
       display: block;
       text-align: center;
       margin-left: 40%;
       font-weight: bold;
       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 30px;
   }
   h1{
       color:crimson;
   }
